<div class="main-container">
  <div class="social-action-container">
    
    <a href="https://www.facebook.com/login.php">
    <img src="assets/icons/facbook.svg" alt="facebook" class="social-icon" />
    </a>
    
    <a href="https://twitter.com/login">
    <img src="assets/icons/twitter(2).svg" alt="twitter" class="social-icon" />
    </a>
    
    <a href="https://github.com/login">
    <img src="assets/icons/linkedin.svg" alt="github" class="social-icon" />
    </a>
    
    <a href="https://www.instagram.com/accounts/login/">
    <img
      src="assets/icons/instagram (1).svg"
      alt="instagram"
      class="social-icon"
    /></a>
  </div>
</div>
