<ul class="navigation-container">
  <li class="navigation-text-container">
    <span class="navigation-text">Maharashtrian Foods</span>
  </li>

  <li class="navigation-text-container">
    <span class="navigation-text">South Foods</span>
  </li>

  <li class="navigation-text-container">
    <span class="navigation-text">Gujarati Foods</span>
  </li>

  <li class="navigation-text-container">
    <span class="navigation-text">Chinese Foods</span>
  </li>

  <li class="navigation-text-container">
    <span class="navigation-text">Italian Foods</span>
  </li>
</ul>
