<ul class="navigation-container">
	<li routerLink="cake" routerLinkActive="active" class="navigation-text-container">
		<span class="navigation-text">Cake</span>
	</li>

	<li routerLink="dessert" routerLinkActive="active" class="navigation-text-container">
		<span class="navigation-text">Dessert</span>
	</li>

	<li class="navigation-text-container">
		<span class="navigation-text">Gujarati Foods</span>
	</li>

	<li class="navigation-text-container">
		<span class="navigation-text">Chinese Foods</span>
	</li>

	<li class="navigation-text-container">
		<span class="navigation-text">Italian Foods</span>
	</li>
</ul>
