@import '../../../assets/styles/variable.scss';
@import '../../../assets/styles/mixin.scss';
:host {
	display: flex;
	justify-content: center;
}
.main-wrapper {
	margin: 24px;
	padding: 28px;
	border: 1px solid white;
	width: 80%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.header {
		@include extra-large;
		color: $orange;
		margin-bottom: 16px;
	}
	.img-ingredients-container {
		display: flex;
		padding: 24px 0px;
		.img {
			border-radius: 10px;
			box-shadow: 0px 0px 8px 2px #ff9d3f;
			max-width: 480px;
			height: 480px;
		}
		.ingredients-wrapper {
			padding: 0px 24px 12px 32px;
			.ingredients {
				margin: 16px 0px;
				color: $white;
				@include text;
			}
		}
	}

	.recipe-container {
		display: flex;
		flex-direction: column;
		padding: 24px 0px;
		width: 100%;
		.recipe {
			margin: 16px 0px;
			color: $white;
			@include text;
		}
	}
}
.header-text {
	@include extra-large;
	background: -webkit-linear-gradient($white, $orange);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	// color: $orange;
	// margin: 16px 0px;
}
