$white: #fff;
$black: #000;
$light-black: #232323;
$light-grey: #7d7d7d;
$light-black: #353333;
$black-green: #172413;
$light-green: #3f5837;
$faint-green: #4f7c41;
$black-light-green: #172413cc;
$orange: #f59233;
$red: #e3112e;
